
/**顶部字体颜色*/
.header a.control{color:#0062A3;}
.header a.control:hover{color:#0062A3;}

/**下拉列表控件样式*/
.select .dropdown-toggle{background:url(./images/caret.PNG);}
.select .caret{margin-top:9px; background-color: #B7D3FC;}

/**按钮样式*/
.btn.btn-primary {
  background-color: #920000;
  background-image: linear-gradient(to bottom, #920000, #920000);
  border-color: #920000 #920000 #920000;
  *background-color: #920000;
}

/**警告框样式定义*/
.alert {background-color: #D44A26;border-color: #D44A26;color: #FFF;}

/**标签页控件样式*/
.tabStyle { text-align: center; font-size: 24px; width: 100%; background-color: #E6E6E6;
    padding-top: 10px; 
}
.tabStyle li:first-child{margin-left:30px;}
.tabStyle li{background-color: #6B6464; font-family: 微软雅黑; color:#fff;}
.tabStyle li.active{background-color:#000; color:#30134B;}
.nav-tabs li a {color:#fff; *border: 1px solid #9F9AE7; *background-color: #6B6464; *filter: chroma(color=#30134B);}
.tabStyle li.active a{color:#30134B;}
.nav-tabs li a:hover { color: #444444}

/**去掉表格th的上边框background-color: #30134b; color:#fff;*/
.table th{background-color: #E6E6E6; color: #444; }

/**查询表单样式*/ 
.queryForm{border-bottom: 0px solid #444444; padding-bottom: 15px; background-color: #FCEAEA;}