
/**
 * 针对ie6定制的样式
 */

/**模态窗口默认位置*/
.modal {top: -190px;}

/*.header{width:100%;height:auto; position: fixed;top: 0px;left: 0px;
	border-bottom:1px solid #4f4f4f; }*/
.header .userInfo,.tranName{display:inline-block; _zoom:1;*display:inline;}
.header .orgName{display: block;}
.header .nav{display:inline-block; _zoom:1;*display:inline;}